*{
    background-color: rgb(255, 230, 234);
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;

}

.header{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;

}

.header-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.body-container{
    background-color: pink;
    border: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.side-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
}

.menu-container{
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
}

button{
    border-radius: 3px;
    width: 60%;
    display: block;
    margin: 10px auto 10px auto;
}

.content{
    grid-column-start: 2;
    grid-column-end: 5;
    border: 1px solid black; 
}

.hide{
    display: none;
}

.display{
    display: block;
}

.title-container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.task-title-container{
    border: 1px solid black;
}

.tasks-title-text{
    border: 1px solid black;
}

.tasks-list{
    border: 1px solid black;
}

div{
    border: 1px solid black;
}

/* Modal */
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: auto;
    background-color: white;
    z-index: 20;
}

.modal-box{
    margin: 15% auto;
    border: 1px solid black;
    border-radius: 8px;
}

.modal-header {
    padding: 20px;
    background-color: lightgrey;
    border-radius: 8px 8px 0 0;
    border-bottom: solid 1px rgba(0,0,0,.15);
}

.modal h2 {
    margin: 0;
}

/* Modal content */
.modal-content {
    padding: 20px;
}
  
.confirm-modal-title {
    font-weight: 700;
}

.modal-sep {
    border-bottom: solid 1px rgba(0,0,0,.15);
    margin: 20px -21px;
}
  
.modal .button-right {
    text-align: right;
}